.container {
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

img {
  width: 20px;
  margin-left: 1rem;
}

img:hover {
  cursor: pointer;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
